body{
margin: 0;
padding: 0;
}
.container{
text-allign: center;
}
.btn{
border: 1px solid #FFA07A
  backround: none;
padding: 10px 20px;
font-size: 20px;
font-family: "impact";
cursor: pointer;
margin: 10px;
transition: 0.8s;
  position: relative;
  overflow: hidden;
}
btn,{
  color: #FFA07A; 
  {
    .btn1:hover{
      color:#fff;
    }
.btn::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  Background: #FFA07A;
  z-index: -1;
  transition: 0.8s;
    }
    
    .btn::before{
      top: 0;
      border-radius: 0 0 50% 50%;
      
  .btn:hover::before{
    height:180%;
      }
