body{
margin: 0;
padding: 0;
}
.container{
text-allign: center;
}
.btn{
border: 1px solid #8B0000;
background: none;
padding: 10px 20px;
font-size: 20px;
font-family: "impact";
cursor: pointer;
margin: 10px;
transition: 0.8s;
  position: relative;
  overflow: hidden;
}
btn1,{
  color: #FFA07A; 
  {
    .btn1:hover{
      color:#xxx;
    }
